<html>
<head>
</head>
<body>
<form action="/nuevo">
  <input type="text" placeholder="Nombre" name="nombre"/>
  <input type="number" placeholder="Edad" name="edad"/>
  <input type="number" placeholder="Numero" name="numero"/>
  <input type="text" placeholder="Lugar" name="lugar"/>
  <input type="submit" value="Enviar"/>
</form>
</body>
</html>
